@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700;800&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    height: 400px;
}

.left {
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: absolute;
    left: 735px;
    padding: 25px 0 38px 0;
}
.space {
    width: 300px;
}

.lav {
    color: hsl(241, 100%, 89%);
}

.white {
    color: hsl(0, 0%, 100%);
}

.result {
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    padding: 30px 45px;
    border-radius: 50%;
    margin: 20px 0;
}

.big-num {
    font-size: 3.5rem;
}

.great {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.words {
    text-align: center;
    font-size: 18px;
    width: 80%;
}



.right {
    background-color: antiquewhite;
    width: 300px;
    box-sizing: content-box;
    padding-left: 50px;
    border-radius: 0 20px 20px 0;
}

